.card {
    width: 45%;
    max-width: 600px;
    white-space: nowrap;
    list-style-type: none;
}

.card__list{
    margin: unset;
    padding: unset;
    padding-top: 0;
    white-space: nowrap;
    list-style-type: none;
}

.card__title {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.card__list-item {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.card__list-divider{
    display: inline-block;
    height: 18px;
    border-bottom: 1px solid white;
    color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
} 