.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    /* -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; */
    background-color: #FFFFFF;
    background-image: url('../images/background_header.svg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin-top: 30px;
}

.nav__links {
    -webkit-transition: color 1s linear 2s;
    -o-transition: color 1s linear 2s;
    transition: color 1s linear 2s;
    text-decoration: none;
    list-style-type: none;
    padding: unset;
    margin: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-right: 80px;
}   

.nav__link {
    text-decoration: none;
    -webkit-transition: color 0.35s linear 0.1s;
    -o-transition: color 0.35s linear 0.1s;
    transition: color 0.35s linear 0.1s;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link:hover {
    color: #2F80ED;
}

.header__logo {
    height: 142px;
    width: 125px;
    position: relative;
    margin-left: 80px;
}

.header__text-column {
    height: 100%;
}

.header__description-column {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; */
    row-gap: 20px;
}

.header__title {
    margin-top: 80px;
    max-width: 729px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;  
}

.header__description {
    margin: unset;
    max-width: 683px;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.header__span-accent {
    display: block;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}

.header__description-br {
    display: block;
}

.header__title, .header__description, .header__paragraph-column {
    margin-left: 80px;
}

.header__paragraph-column {
    position: absolute;
    bottom: 40px;
}

.header__paragraph {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; 
}

.header__paragraph-address {
    margin-left: auto;
    margin-right: 80px;
    margin-bottom: 40px;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}