.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FFFFFF;
    background-image: url('../images/background_header.svg');
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    z-index: 1;
}

.header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__description-box {
    z-index: 2;
    row-gap: 20px;
}

.header__title {
    z-index: 2;
    margin: unset;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 28px;
    max-width: 729px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;  
}

.header__description {
    margin: unset;
    margin-left: 80px;
    max-width: 683px;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.header__span-accent {
    display: block;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}

.header__left { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
} 

.header__right { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
} 

.header__paragraph {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: 80px;
    list-style-type: none;
}

.header__paragraphs {
    margin: unset;
    padding: unset;
    margin-top: auto;
    margin-bottom: 40px;
    margin-left: 80px;
}


.header__paragraph-address {
    margin-bottom: 40px;
}

.header__image {
    width: 646px;
    height: 568px;
    margin-right: 5px;
    z-index: -1;
    border-radius: 50%;
}