.menu {
    background-color: #0a2750;
    background-image: url('../images/background_menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title {
    margin: unset;
    padding: unset;
    margin-top: 100px;
    margin-bottom: 24px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
}

.menu__subtitle {
    margin: unset;
    padding: unset;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu__cards {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 100px;
}

.menu__list {
    padding: unset;
}

.menu__card-wrapper {
    flex: 0 0 45.4%;
    max-width: 600px;
    margin: unset;
    padding: unset;
}

.menu__card-wrapper:last-of-type {
    flex: 0 0 100%;
    margin: 0 auto;
}

.menu__card {
    white-space: nowrap;
    list-style-type: none;
}

.menu__card-header {
    margin: unset;
    padding: unset;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.menu__card-paragraph {
    margin: unset;
    padding: unset;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.menu__card-paragraph:last-child {
    margin-bottom: 0;
}

.menu__card-underscore{
    /* content: "\005F";
    content: '_';
    width: 100px; */
    display: inline-block;
    height: 18px;
    border-bottom: 1px solid white;
    color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
} 