.menu {
    /* height: 100vh; */
    width: 100vw;
    background-color: #0a2750;
    background-image: url('../images/background_menu.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    position: relative;
}

.menu__flex-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    row-gap: 24px;
    max-width: 780px;
    height: fit-content;
}

.menu__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
}

.menu__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu__cards {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    margin-bottom: 100px;
}

.menu__cards-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
}

.menu__cards-last-of-type-wrapper {
    display: flex;
    align-self: center;
}

.menu__card {
    /* width: fit-content; */
    max-width: 600px;

}

.menu__card-header {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.menu__card-paragraph {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.menu__card-paragraph:last-child {
    margin-bottom: 0;
}