.recipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-image: url('../images/background_recipes.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.recipes__title {
    margin: unset;
    padding: unset;
    margin-top: 100px;
    margin-left: 80px;
    display: inline-block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 500px;
}

.recipes__subtitle {
    margin: unset;
    padding: unset;
    margin-left: 80px;
    margin-top: 24px;
    display: inline-block;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
}

.recipes__videos {
    padding: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center, justify;
        -ms-flex-pack: center, justify;
            justify-content: center, space-between;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-top: 80px;
    margin-bottom: 215px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    list-style-type: none;  
}

.recipes__iframe {
    border: 0;
    width: 480px;
    height: 273px;
}

.recipes__video-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: unset;
    margin-top: 24px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}



    