.reservation {
    background-image: url('../images/background_reservation.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #D9E7FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reservation__form {
    margin-bottom: 120px;
}

.reservation__title {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}