.reservation {
    background-image: url('../images/background_reservation.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #D9E7FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reservation__title {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form-fieldset {
    margin: unset;
    padding: unset;
    border: 0 none;
    max-width: 385px;
}

.reservation__form-label {
    margin-bottom: 8px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.reservation__form-input {
    margin: unset;
    padding: unset;
    margin-top: 8px;
    margin-bottom: 32px;
    border-radius: 4px;
    border-color: #838383;
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    border: 0 none;
}

input[type="datetime-local"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    max-width: 365px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.reservation__form-input::-webkit-input-placeholder {
    padding-left: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.reservation__form-input::-moz-placeholder {
    padding-left: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.reservation__form-input:-ms-input-placeholder {
    padding-left: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.reservation__form-input::-ms-input-placeholder {
    padding-left: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__input::placeholder {
    padding-left: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

/* .reservation__form-fieldset:nth-of-type(3) */
/* label[for=checkbox]  */

.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    margin-bottom: 120px;
}

input[for='checkbox']
{
    margin-bottom: 0;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: unset;
    padding: unset;
}

.reservation__button {
    border: 4px;
    height: 60px;
    margin: 32px 0;
    width: 100%;
    background-color: #2f80ed;
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.reservation__button:hover {
    opacity: 70%;
}