* {
    outline: 1px dotted red;
    margin: unset;
    padding: unset;
}

body {
    display: flex;
    align-items: center;
}
.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}


@import url('../blocks/normalize.css');

@import url('../blocks/header.css');
@import url('../blocks/menu.css');


/* font-family: 'Inter', sans-serif; */
/* font-family: 'Noto Serif', Times New Roman, serif; */

