* {
    outline: 1px dotted red;
    margin: unset;
    padding: unset;
}

@import url('../blocks/normalize.css');

@import url('../blocks/header.css');

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Noto Serif', Times New Roman, serif; */

